
.product_details {
    display: flex;

    gap: 30px;
}

.description {
    margin: auto;


}

.first {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    padding-bottom: 5px;
}

.price-box {
    display: flex;
    align-items: center;
}

.main_text {
    line-height: 1;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding-bottom: 10px;

    color: white;
    font-size: 22px;
}


.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: black;
    font-weight: bold;
    color: white;
    padding: 15px 50px;
    gap: 30px;

}

.circle_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10px;
    height: 10px;

    background: white;
    color: black;
    border-radius: 20px;
    font-size: 6pt;
}
