@font-face {
    font-family: 'Aller';
    src: local('Aller'),
    url(./assets/fonts/Aller_Lt.ttf);

}

@font-face {
    font-family: 'STHeitiSC';
url(./assets/fonts/Heiti-SC-Medium.ttf)
}

body {
    font-family: 'Aller', sans-serif;
    margin: 0;
    font-size: 26px;
    line-height: 1.6;
    color: #57c5a0;

    background: #242424;

    cursor: default;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

/*Header*/
.header {
    z-index: 1000;
}

.container {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'STHeitiSC', sans-serif;
    font-size: 26pt;
    font-weight: normal;
    color: #57c5a0;
    text-decoration: none;
}

.login {
    font-family: 'Aler', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}

.search {
    text-decoration: none;
}

.login:hover {
    color: beige;
}


@media screen, (max-width: 975px) {

    .profile {
        display: none;
    }
    .profile_box{
        display: none;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 15px;
    }

    .header__inner {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .search__login {
        position: absolute;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .login {
        display: none;
    }

    .profile {
        font-size: 12pt;
        color: #7e7e7e;
    }
    .profile_box {

        display: flex;
        width: 30px;
        height: 30px;
        border: 2px solid #7e7e7e;
        border-radius: 20px;
        background-color: transparent;

        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


/*Intro*/
.intro {
    width: 100%;
    background-color: #eeece8;
}

.intro__inner {
    background-color: #ffffff;
}

.flex_nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    font-size: 16pt;
}

.nav_link {
    margin: 0 15px;
    color: black;
    text-decoration: none;
}

.icons {
    display: flex;
    margin: 0 15px;
    gap: 45px;
}
@media (max-width: 768px) {
    .icons{
        gap:20px;
    }

}


.box-counter {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
}

.str {
    display: flex;
    align-items: center;
    gap: 10px;

}

.crt {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box_s {
    background: #adadad;
}

.box_c {
    background: #57c5a0;
}

.flex_desk {
    display: flex;
    align-items: flex-start;
}
.pinkshoose{
    display: block;
    max-width: 100%;
    height: auto;
}

.item_details {
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    font-family: Aller, sans-serif;
    color: black;
    width: 100%;
    max-width: 385px;
}

.desk_maintitle {
    margin: 10px auto;
    font-size: 40px;
    line-height: 1;

}

.second_title {
    margin: 10px auto;
    font-size: 40px;
    line-height: 0.9;

}

.desk__title {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;

}

.price-box {
    display: block;
    width: 70px;
    height: 70px;
    background: #57c5a0;
}

.action_menu {
    display: flex;
    gap: 3px;

    margin-top: 20px;
    font-size: 14pt;
    color: #6e6e6e;
}

.box_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fafaf9;
}

.icon:hover {
    cursor: pointer;
    color: #57c5a0;
}

@media (max-width: 768px) {
    .item_details{
        margin:20px 0 0 20px ;

    }

    .price-box{
        width: 50px;
        height: 50px;
    }
    .desk_maintitle{
        font-size:36px ;
    }
    .second_title{
        font-size: 36px;
        line-height: 0.8;
    }

    .desk__title{
        font-size:15px ;
    }

}



/*Navigation*/
.nav {
    padding-top: 10px;
    width: 100%;
    background-color: #2e2e2e;

}


.subnav {

    display: flex;

    font-size: 18pt;

    border-top: 11px solid black;
}

.nav_item {
    position: relative;
    top: -9px;
    box-sizing: border-box;
    margin: auto;
    padding: 20px 0;
    line-height: 1.3;
    border-top: 6px solid transparent;

}

.link_nav {
    color: #909090;

    flex-grow: 1;
    width: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

}
@media (max-width: 768px) {
    .subnav{
        font-size:14pt ;
        font-weight: bold;
    }
    .link_navtext{
        font-size: 8pt;
        font-weight: normal;
    }


}
.link_nav:hover {
    color: white;
}

.nav_item:active {

    border-top: 6px solid #57c5a0 !important;

}

.link_navtext {
    display: flex;
    justify-content: center;
    color: #909090;
    font-size: 12pt;
}

/*Specials*/

.speccont {
    width: 100%;
    background-color: #242424;
}

.speccont_inner {
    display: flex;
    align-items: center;
}
.spec_png{
    display: block;
    max-width: 100%;
    height: auto;
}
.spec_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

}

.spec_text {
    position: absolute;

    padding: 5px 15px;

    font-size: 25pt;
    color: #ffffff;

    background: #000000;
    opacity: .8;
}

@media (max-width: 768px) {
    .speccont_inner{
        gap:10px;
    }
    .spec_text{
        font-size: 16pt;
    }

}

/*gallery*/
.products {
    width: 100%;
    background-color: #ebe7df;
}

.product__title {

    font-size: 25pt;
    color: #242424;

}

.new__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.prod_img {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px auto;
}

.wrapper_shoe {
    position: relative;
    width: 300px;
    height: 270px;
    background-color: #ffffff;
}

.shoe {
    position: absolute;
    top: 15px;
    left: 80px;
}

.devider_shoe {
    position: absolute;
    width: 100%;
    bottom: 50px;
    border-bottom: 1px solid #cccccc;

}

.shoe_price {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 68px;
    height: 68px;
    background-color: #57c5a0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.price_num {
    font-size: 12pt;
    font-weight: 600;
    color: white;
}

.show-all {

    padding: 10px 20px;

    font-size: 14pt;
    color: #bcb5a7;
    text-decoration: none;
    outline: none;

    background-color: transparent;

    border: 2px solid #bcb5a7;
    cursor: pointer;
}

.show-all:hover {
    transform: scale(1.1);
}

.devider {
    margin: 50px auto;
    border-bottom: 2px solid #bcb5a7;
}

.addon {

    color: black;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    flex-grow: 1;
}

.addon__inner {

    background-color: #dfdbd4;
    width: 25%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;

}

.addon_title {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.addon_paragraph {
    font-size: 9pt;


}

.blog {
    width: 50%;


}

.block {
    display: flex;

    align-items: center;
    margin-bottom: 20px;

}

.block_box {
    display: block;
    flex: 0 0 40px;
    height: 40px;
    background: #57c5a0;
    margin-right: 15px;


}

.title {
    font-size: 10pt;
    font-weight: bold;
}

.content {
    font-size: 8pt;
}

.block_block {
    line-height: 1.4;

}

/*preFooter*/

.prefooter {
    width: 100%;
    background-color: #242424;
}


.widget_inner {
    margin: auto;

    max-width: 860px;
    font-size: 14pt;
    font-weight: bold;
    color: #7d7d7d;

    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    gap: 50px;
}

.widget {
    width: 30%;
}

.widget_title {
    padding-bottom: 20px;
}

.widget_text {
    font-size: 8pt;
    font-style: italic;
    color: #a4a4a4;
    text-align: justify;
}

.widget_text a {
    color: #57c5a0;
    text-decoration: none;

}

.footer_devider {

    margin: 40px auto;
    border-bottom: 2px solid #1c1c1c;
}

.social {

    max-width: 860px;
    margin: auto;
    padding-bottom: 20px;

}

.social_wraper {
    display: flex;


}

.element {
    display: flex;
    justify-content: center;

}

.email input {

    border: none;
    width: 214px;
    height: 36px;
    background: #2e2e2e;
    font-style: italic;
    color: #7d7d7d;
    margin-right: -.36em;

    padding: 15px;

}

.btn {

    position: relative;

    border: none;
    width: 36px;
    height: 36px;
    background: #7d7d7d;
    cursor: pointer;
}

.arrow {
    font-size: 14pt;
}

.social_wraper {
    margin: auto;
    max-width: 860px;
    font-size: 12pt;


    display: flex;
    justify-content: space-between;

}

.socialmedia {
    display: flex;
    gap: 5px;

}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon {
    font-size: 16pt;
    text-decoration: none;
    color: #7d7d7d;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 36PX;
    height: 36px;
    background: #2e2e2e;

}

